# requirements-dev.txt

# まず、本番環境のライブラリをすべて含める
-r requirements.txt

# === 開発用ライブラリ ===

# --- テスト ---
# Pythonのデファクトスタンダードなテストフレームワーク
pytest
pytest-dotenv

# pytestで非同期コード(async/await)をテストするために必要
pytest-asyncio

# テストコードからFastAPIエンドポイントにリクエストを送るための高機能なHTTPクライアント
httpx>=0.25.0

pytest-mock

# --- フォーマッター・リンター ---
# 厳格な自動コードフォーマッター
black

# 高速なリンター (flake8, isortなどの代替として近年人気)
ruff


# --- 型チェック ---
# 静的型チェッカー
mypy